<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LOGIN</title>
    <link href="/css/master.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<script src="/javascripts/jquery.js"></script>

<script language="javascript">
    $(document).ready(function() {
        
	});

    function init() {
    }



</script>
<body>
    <div class="login">
        <!-- <select name="service" id="service" title="SERVICE명"> 
            <% if (data!=null && data.status ==200) {  %>
                <% for (int i=0; u<data.result.rows.size(); u++) { %>
                    <option value=<%=data.result.rows[u].id%>><%=data.result.rows[u].id%></option>
                <% } %>
            <% } %>
        </select> -->
    </div>
</body>
</html>